<div class="row">
    <div class="col-xs-12">
        <h3><a href="{{ path('article-page', {'slug': article.slug}) }}">{{ article.title }}</a></h3>
    </div>
    <div class="col-xs-12">
        {{ article.abstract | raw }}
    </div>
    <div class="col-xs-12 text-right">
        <a href="{{ path('article-page', {'slug': article.slug}) }}">Читать дальше</a>
    </div>
</div>