{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>

    <div>
        <a href="{{ path('index-page') }}">Вернуться на главную страницу</a>
    </div>

{% endblock fos_user_content %}
