<div class="modal fade" id="find-store-map" data-map-points-path="{{ path('getStoresCoordinates') }}" data-icon-path="{{ asset('bundles/enmashpages/images/logo_sm.png') }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                <h4 class="modal-title">Найти магазин</h4>
            </div>
            <div class="modal-body">
                <div id="find-store-map-canvas"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->