<style>
    #select-city-modal .modal-body ul li {
        display: block;
        background-color: #FFFFFF;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        overflow: auto;
    }

    #select-city-modal .modal-body ul li:hover {
        background-color: #dddddd;
    }

    #select-city-modal .modal-body ul li a {
        display: block;
        margin: 5px;
        text-decoration: none;
    }
</style>

<div class="modal fade" id="select-city-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                <h4 class="modal-title text-center">Выберите ближайший к вам город</h4>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    {% set current_city = '' %}
                    {% for city, city_stores in sorted_stores.getSortedStores %}
                    {% if current_city != city %}
                    <li>
                        <a href="{{ path('setcity', {store: city_stores[0].id}) }}">
                            г. {{ city }}
                        </a>
                    </li>
                    {% set current_city = city %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->