<div class="col-xs-12 special-offers-submenu">
    <ul class="list-inline">
        <li><a href="#bonus">Бонусная система скидок</a></li>
        <li><a href="#offers">Специальные предложения сегодня</a></li>
        <li><a href="#discounts">Постоянные скидки</a></li>
    </ul>
</div>