<div class="row">
    <div class="col-xs-12 best-sellers">
        <h2>Лучшие Товары</h2>
        {% include 'EnmashPagesBundle:Pages:Catalog/Block/slicksliderforproducts.html.twig' with {products: products, sliderId: 'bestSellerSlider'} %}
    </div>
</div>