<script type="text/javascript">
    $(document).ready(function(){
        $('#cheap-banner').animate({
            top: '130px'
        }, 2000)
    });
</script>

<div id="cheap-banner">
    <a href="{{ asset(cheapbannerpath) }}" data-gallery="cheap-banner" >
        НЕДОРОГО
        {#<img src="{{ asset('bundles/enmashpages/images/cheapbanner.png') }}" />#}
    </a>
</div>