<script type="text/javascript">
    $(document).ready(function(){
        $('#cheap-banner').animate({
            top: '150px'
        }, 2000)
    });
</script>

<div id="cheap-banner" class="hidden-xs">
    <a href="{{ asset(cheapbannerpath) }}" data-gallery="cheap-banner" >
        НЕДОРОГО
    </a>
</div>