<!DOCTYPE html>
<html>
<head>
    <title>Enmash Store</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
    <h1>Enmash store</h1>

    {% block js %}
    <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>
</html>