<div class="row" style="font-size: .9em;">
    <div class="col-xs-12 text-center">
        <h2>Сбыт и комплектация предприятий</h2>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>Одним из основных направлений деятельности компании является сбыт электротехнической продукции и комплектация предприятий.</p>
        <p>Все сбытовые вопросы находятся в ведении “Энергомаш-Комплекта”, который входит в состав компании.</p>
        <p>“Энергомаш-Комплект” - это сеть филиалов и столов заказов во всех городах присутствия компании: Владимир, Вязники, Гусь-Хрустальный, Иваново, Ковров, Кольчугино, Кинешма, Муром.</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>Сбытовая номенклатура значительно шире розничной. На сайте и в прайс-листах представлен лишь товар на текущий день. По заявкам потребителей поставляется продукция в ассортименте на порядок больше. Кроме того, в “Энергомаш-Комплекте” работает отдел закупок нестандартного оборудования. Квалифицированные специалисты этой службы проведут подбор и комплектацию более сложных изделий, которые подавляющее большинство фирм не имеет в складских запасах.</p>
        <p>“Энергомаш-Комплект” - активный участник электронных торгов. Для ускорения обслуживания клиентов создан специальный сбытовой склад отгрузки, в который поступает продукция со всех складов центрального комплекса компании.</p>
    </div>
    <div class="col-xs-12"><hr></div>
    <div class="col-xs-12 text-center">
        <h2>Цены</h2>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>“Энергомаш” кроме 20-летней истории и надежной репутации имеет реальную сбытовую сеть из 20 филиалов и магазинов, поэтому получает продукцию по специальным дилерским ценам.</p>
        <p>В направляемых потребителям предложениях указывается средневзвешенная сбытовая цена. Она может быть выше и ниже в зависимости от объема заказа, его сложности, способа оплаты, рассрочки и других типовых факторов. В любом случае каждый клиент имеет право на предшествующие покупке переговоры, особенно с реальной конкурентной информацией, что безусловно выгодно обеим сторонам.</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>“Энергомаш-Комплект” предоставляет всем бюджетным организациям, а также надежным постоянным клиентам рассрочку от 3 до 60 дней. Возможна бесплатная доставка продукции.</p>
        <p>Администрация “Энергомаш-Комплекта” располагается в центральном комплексе компании по адресу: г. Владимир, ул. Мостостроевская, д. 8.</p>
    </div>
    <div class="col-xs-12"><hr></div>
</div>