<link rel="import" href="{{ asset('vendor/polymer/polymer.html') }}">
<link rel="import" href="{{ asset('vendor/core-ajax/core-ajax.html') }}">

<style>

</style>

<polymer-element name="site-banner">

    <template>
        <div>{{ '{{ category }}' }}</div>
    </template>

    <script>

        Polymer('site-banner', {
            ready: function(){
                this.category = 'category title';
            }
        });

    </script>

</polymer-element>