<div class="row" id="about">
    <div id="about-anchor"></div>
    <div class="col-xs-12 text-center">
        <h2>О КОМПАНИИ</h2>
        <h3>Год создания - 1994</h3>
        <div class="col-md-6">
            <p>Сегодня "ЭНЕРГОМАШ" — это электротехническая компания, в состав которой входит более 20 филиалов и специализированных магазинов.</p>
            <p>Основные направления розничной и оптовой сети "ЭНЕРГОМАШ"  обеспечение офисно-бытовых, ремонтно-эксплуатационных и строительных нужд предприятий и граждан низковольтной аппаратурой, светотехникой, кабельно-проводниковой и другой продукцией.</p>
        </div>
        <div class="col-md-6">
            <p>В номенклатуру компании входят тысячи изделий для различных групп потребителей от лампочек и розеток до люстр и подстанций.</p>
            <p>Главная задача, которую ставит перед собой коллектив "ЭНЕРГОМАША" — предоставить всем потребителям возможность получения как можно более широкого ассортимента продукции комплексно, в одном месте.</p>
            <p>Нас связывают дилерские отношения с крупнейшими российскими и зарубежными производителями.</p>
        </div>
        <div class="col-xs-12">
            <a type="button" class="btn btn-warning" href="{{ path('about-page') }}">Подробнее</a>
        </div>
    </div>
</div>
<hr>