<div class="row">
    {% for article in articles %}
    <div class="col-xs-12 col-md-4">
        <h3><a href="{{ path('article-page', {'slug': article.slug}) }}">{{ article.title }}</a></h3>
        <div>
            {{ article.abstract | raw }}
        </div>
        <div class="text-right">
            <a href="{{ path('article-page', {'slug': article.slug}) }}">Читать далее</a>
        </div>
    </div>
    {% endfor %}
</div>