<div class="index-banner" id="bannersection{{ id }}">
    <div class="close-btn"><span class="glyphicon glyphicon-remove"></span></div>
    <div class="row">
        <div class="col-xs-12 col-md-6 text-center">
            <h3>{{ banner.name }}</h3>
            <p>{{ banner.content | raw}}</p>
            {% if banner.additionalInfoFile %}
            <p class="text-right"><a href="{% path banner.additionalInfoFile, 'reference' %}">Дополнительная информация</a></p>
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-6 full-screen-img" style="background-image: url({% path banner.photo, 'big' %})"></div>
    </div>
</div>