<div class="index-banner" id="bannersection{{ banner.id }}">
    <div class="close-btn"><span class="glyphicon glyphicon-remove"></span></div>
    <div class="row">
        <div class="col-xs-12 col-md-6 text-center">
            <h3>{{ banner.name }}</h3>
            <p>{{ banner.content | raw}}</p>
            {% if banner.additionalInfoFiles %}
                {% if banner.additionalInfoFiles.galleryHasMedias %}
                    <ul class="addFiles text-right list-unstyled">
                        {% for file in banner.additionalInfoFiles.galleryHasMedias %}
                            <li><a href="{% path file.media, 'reference' %}" target="_blank">{{ file.media.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-6 full-screen-img" style="background-image: url({% path banner.photo, 'big' %})"></div>
    </div>
</div>