<div id="carousel" class="carousel slide" data-ride="carousel">

    {% include('EnmashPagesBundle:Pages:Blocks/Banners/cheap.html.twig') %}

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active full-screen" style="background-image: url('{{ asset("bundles/enmashpages/images/jumbo1.jpg") }}')">
            <div class="container">
                {% image '@EnmashPagesBundle/Resources/public/images/title.png' %}
                <img src="{{ asset_url }}" alt="Логотип Энергомаш" />
                {% endimage %}
            </div>
            <div class="carousel-caption">
                <p>20 магазинов в ценральном регионе</p>
            </div>
        </div>
        <div class="item full-screen" style="background-image: url('{{ asset("bundles/enmashpages/images/jumbo1.jpg") }}')">
            <div class="container">
                {% image '@EnmashPagesBundle/Resources/public/images/title.png' %}
                <img src="{{ asset_url }}" alt="Логотип Энергомаш" />
                {% endimage %}
            </div>
            <div class="carousel-caption">
                <p>Caption2</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>