<div class="row" id="wholesale-block">
    <div class="col-xs-12 text-center">
        <h2>СЛУЖБЫ СБЫТА</h2>
    </div>
    <div class="col-xs-12 col-md-6" id="logo-img">
        {#{% image '@EnmashPagesBundle/Resources/public/images/logo_grey.png' %}#}
        {#<img src="{{ asset_url }}" alt="Логотип Энергомаш" />#}
        {#{% endimage %}#}
    </div>
    <div class="col-xs-12 col-md-6">
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics a large language ocean. A small river named Duden flows by their place and supplies it with the</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics a large language ocean. A small river named Duden flows by their place and supplies it with the</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics a large language ocean. A small river named Duden flows by their place and supplies it with the</p>
    </div>
    <div class="col-xs-12 text-center">
        <a type="button" class="btn btn-warning" href="{{ path('wholesale-stores-page') }}">Все службы сбыта</a>
    </div>
</div>
<hr>