<div class="row" id="wholesale-block">
    <div class="col-xs-12 text-center">
        <h2>СЛУЖБЫ СБЫТА</h2>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>Кроме розничного направления в электротехнической компании «ЭНЕРГОМАШ», развита оптовая сеть, специализирующаяся на комплексном обеспечении предприятий, организаций и строящихся объектов электроматериалами, оборудованием и комплектующими, светотехникой, кабельно­проводниковой продукцией.</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>Службы сбыта осуществляют отпуск продукции по счетам­фактурам из наличия и под заказ по всей номенклатуре компании. Надежным и постоянным клиентам и всем бюджетным учреждениям предоставляются рассрочки оплаты. Действует система оптовых и индивидуальных скидок. Служба сбыта на территории центрального комплекса при необходимости осуществляет доставку продукции, в том числе бесплатную.</p>
    </div>
    <div class="col-xs-12 text-center">
        <a type="button" class="btn btn-warning" href="{{ path('wholesale-stores-page') }}">Все службы сбыта</a>
    </div>
</div>
<hr>